thesis/main.aux
thesis/main.lof
thesis/main.log
thesis/main.lot
thesis/main.out
thesis/main.toc
thesis/main.pdf
thesis/main.bbl
thesis/main.blg
thesis/main.fdb_latexmk
thesis/main.fls
thesis/main.synctex.gz
thesis/texput.log
env/
thesis_env/
.vscode/
play.py
xy.pt
__pycache__/
TODO
