thesis/main.aux
thesis/main.lof
thesis/main.log
thesis/main.lot
thesis/main.out
thesis/main.toc
thesis/main.pdf
thesis/main.bbl
thesis/main.blg
env/
thesis_env/
.vscode/
play.py
xy.pt
__pycache__/
TODO
